#!/bin/bash

# Remplacez le chemin par celui de votre environnement virtuel
# Par exemple, si vous utilisez venv et que votre environnement est dans le dossier 'venv'
# à la racine de votre projet, utilisez :
# source $(pwd)/venv/bin/activate

# Si vous utilisez un chemin absolu, utilisez plutôt :
source /home/nawfel/face_recognition_env/bin/activate


# Afficher un message de confirmation
echo "Environnement Python activé pour le projet"
